.cloud{
    background-color: black;
    color: white;

}


span{
    color: aqua;
}

.pro{
    background-color: blueviolet;
    color: white;
    text-align: center;
}

.contact{
    background-color: aquamarine;
    color: cornflowerblue;
    font-style: oblique;
    text-align: right;
    
}